* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: aqua;
}

.container {
    width:80vw;
    margin: 0 auto;
    border: 1px solid black;
    /* background-color: #b91547; */
    /* text-align: center;
    border-radius: 10px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.small-container {
    height: 80vh;
    border: 1px solid red;

}
.img-container {
    height: 100%;

}
.wrapper-img {
    height: 100%;
    display: none;
}

.img-dim {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.d-block {
    display: block;
}
.d-none {
    display: none;
}

button {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

.btn1 {
    
}
